/* shered styles */


.inter-styles {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 33;
  font-style: normal;
}

.raleway-styles{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
}
.btn-style{
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
}

/* header design */
header{
    max-width: 1440px;
    max-height: 698;
    margin: 0 150px;
}
.header-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-description{
    margin-top: 100px;
    max-width: 905px;
    max-height: 235px;
    text-align: center;
}
.header-info{
    font-weight: bold;
    font-size: 65px;
    color: #252432;

}